[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camelot-py = {extras = ["base"], version = "*"}
ghostscript = "*"
pypdf = "*"
pdfplumber = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
